{% extends "webapp/layout.html" %}
{% load rest_framework %}

{% block body %}
    
    <p>
        <a href="{% url 'mainpage' %} ">Home</a>
        <a href="{% url 'customers' %}">Customers</a>
    </p>
    <h1>Customer {{ customer.CustomerID }}</h1>

    <ul>
        <li>Customer ID: {{ customer.CustomerID }} </li>
        <li>Passport NO.: {{ customer.PassportNo }}</li>
        <li>Customer Name: {{ customer.FirstName }} {{ customer.LastName }} </li>
        <li>Address: {{ customer.address }} </li>
        <li>Phone NO.: {{ customer.phone }} </li>
        
    </ul>

    <form action="{% url 'customerdetails' customer.pk %}" method="POST" class="form-group" style="width: 500px; ">

        {% csrf_token %}
        {% render_form serializer %}

        <p>
            <input type="submit" value="Save" class="btn btn-lg btn-success">
            <a class="btn btn-lg btn-success" href="{% url 'customerdelete' customer.pk %}" role="button" style="position: relative;">Delete</a>

        </p>

    </form>

{% endblock %}